.product_page_container{
    display: flex;
    height: calc(100vh - 95px);
}

.product_page_container h1{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.filter_container{
    padding: 1rem 0rem 2rem 3rem;
    flex: 1;
    overflow: hidden;
    overflow-y: scroll;
}

.prodcut_container::-webkit-scrollbar,
.filter_container::-webkit-scrollbar{
    display: none;
}